body{
	margin: 0;
	padding: 0;
	background color: white;
	background-size: cover;
}
.box{
	width: 450px;
	background: rbga(0,0,0,0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: black;
	font-family: sans-sarif;

}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px
}
.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
	font color: black;

}
.box h5{
	font-size: 25px;

}