
* {
	box-sizing: border-box;
  }
  body{
	margin: 0;
	padding: 0;
	background-color: rgb(142, 74, 73);
	background-size: cover;
	
	
}
nav{
	color: #f2f2f2;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1f1e24;
	box-shadow:  0 2px 0  rgb(142, 74, 73);
}
.nav-list {
	display: flex;
	padding-left: 20px;
	list-style: none;
	font-family:'Roboto Flex';
	margin: 0 0;

	
}
.nav-list li {
	padding-right: 30px;
	
}
.nav-list li a {
	text-decoration: none;
	display: block;
	padding: 2rem;
	font-size:24px;

}
.nav-list a:hover{
	font-size: 24px;
	background-color: #f2f2f2;
	color: rgb(142, 74, 73);
}
.box{
	width: 450px;
	background: rbga(0,0,0,0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 10%;
	color:rgb(251, 251, 255) ;
	}


.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px
}
.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
	font color: black;
	font-family: 'Roboto Flex';


}
.box h5{
	font-size: 25px;

}
h5 {
	font-family: 'Roboto Mono'

}
 .box p{
	font-family: 'Roboto Mono', monospace ;
}
a{
	text-decoration: none;
	color: rgb(124, 137, 139)
}
h1:hover{
color: rgb(10, 9, 8,);
}